@import '../../../assets/styles/theme.scss';

.DropButton {
    width: 100%;
    min-width: 150px;
    padding: 11px 5px 13px;
    font-family: inherit;
    font-size: 16px;
    line-height: 1;
    color: $text-prime-color;
    border: none;
    outline: none;
    background-color: $background-second-color;
    cursor: pointer;

    &:hover {
        background-color: $element-background;
        color: $text-light-color;
    }

    &_destruct {
        &:hover {
            background-color: $wrong-color;
        }
    }
}