//colors
$text-prime-color: #0e190e;
$text-second-color: #999999;
$text-light-color: #ffffff;
$background-prime-color: #F7F7F7;
$background-second-color: #ffffff;

//media
$mobile-h: 586px;
$tablet: 768px;
$tablet-h: 1024px;
