//colors
$text-prime-color: #0D0D0D;
$text-second-color: #999999;
$text-light-color: #ffffff;
$background-prime-color: #F7F7F7;
$background-second-color: #ffffff;
$element-background: #0055FB;
$border-color: rgba(0, 0, 0, 0.2);
$success-color: #30B800;
$wrong-color: #CF2C00;
